@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-slate-100 font-sans;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass backdrop-blur-md border border-glassBorder shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-blue-500;
  }
}
